.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
}
.modal #progress {
  align-self: center;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  overflow: hidden;
  color: black;
  border: 1px solid black;
  width: 220px;
  position: relative;
  padding: 8px 10px 8px 10px;
  text-align: center;
  margin-top: 5px;
  box-sizing: border-box;
}
.disabled {
  color: gray;
  border-color: gray;
}
#viewer {
  display: flex;
  margin-top: 10px;
}
.controls {
  width: 70px;
  height: 35px;
  margin: 0 10px;
}

.file-upload {
  opacity: 0;
  width: 220px;
  height: 35px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#render {
  width: 500px;
  height: 600px;
}
.make-gif {
  align-self: flex-end;
}
